<h1>Forum</h1>

<% if current_user %>
<h2><%= link_to 'New Post', new_forum_path %></h2>
<% end %>

<!--
<div class="abc">fghjkhgf</div>
-->
	<%= render_table(@posts,
		[
	    ["ID", lambda { |p| p.id }],
	    ["文章名稱", lambda { |p| p.subject }],
		["動作", lambda { |p|
		if current_user
		  link_to("Show", forum_path(p)) + ' | ' +
		  link_to("Edit", edit_forum_path(p)) + ' | ' +
		  link_to("Delete", forum_path(p), :confirm => "Are you sure?", :method => :delete)
		else
		  link_to("Show", forum_path(p))
		end
		}]
		],
	    :class_name => "table") 
	%>

<%= will_paginate(@posts) %>