<h1><%= @game.name %></h1>

<%= render_list(
	[
	"簡介"+'<br>'+@game.intro,
    "設計師"+'<br>'+@game.designer,
	"出版社"+'<br>'+@game.publisher,
	"標籤"+'<br>'+@game.tag_list.join(" | ")
	]
	) 
%>
<%= link_to("Edit", edit_game_path(@game)) %> | <%= link_to("Back", games_path) %>