<h1>Album</h1>
<% if current_user %>
<h2><%= link_to("New Album", new_album_path) %></h2>
<% end %>
	<%= render_table(@albums,
		[
	    ["ID", lambda { |p| p.id }],
	    ["相簿名稱", lambda { |p| p.subject }],
		["相簿封面", lambda { |p| render_list_show_cover(p) }],
		["動作", lambda { |p|
		  link_to("Show Cover", album_path(p)) + ' | ' +
		  link_to("Show Photos", album_photos_path(p)) + ' | ' +
		  link_to("Edit", edit_album_path(p)) + ' | ' +
		  link_to("Delete", album_path(p), :confirm => "Are you sure?", :method => :delete )}]
		],
	    :class_name => "table") 
	%>
	
<%= will_paginate(@albums) %>